body {
    margin: 0px;
    padding: 0px;
    background-color: #666666;
    background-image: none;
    color: #ffffff;
}

@font-face {
    font-family: digital;
    src: url("../../fonts/digital-7.ttf");
}

a:link      { color: #ccccff }
a:active    { color: #993333 }
a:visited   { color: #ccccff }
a:hover     { color: #ffff00 }
.contents {
    padding-bottom: 1em;
}
table.sq {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1px;
    background-color: #666666;
    color: #000000;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
td.sq, td.score {
    margin: 0px;
    border: 1px solid;
    border-color: #eeeeee #999999 #999999 #eeeeee;
    background-color: #cccccc;
    padding: 0px;
    vertical-align: middle;
    text-align: center;
}
td.sq {
    width: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}
td.sq:hover {
    background-color: #bbbbbb;
}
div.counter {
    margin: 10px;
    border: 1px inset #eeeeee;
    padding-right: 3px;
    width: 1.8em;
    background-color: #000000;
    color: #ff6666;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: right;
    font-family: digital;
}
#mines {
    float: left;
}
#timer {
    float: right;
}
#smiley {
    width: 24px;
    height: 24px;
    margin: 2px;
    border: 3px groove #eeeeee;
    padding: 6px;
    vertical-align: middle;
    cursor: pointer;
}

/* Table of ranks */
table.rank {
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    width: 31%;
}

th.rank, td.rank {
    text-align: left;
    padding: 8px;
}


tr.rank:nth-child(even){background-color: #EBEBEB}
tr.rank:nth-child(odd){background-color: white}

tr.rank:hover {
    background:#4E5066;
}


th.rank {
    background-color: #000000;
    color: white;
    text-align: center;
}

th.rank-diff{
    background-color: #666666;
    color: white;
    text-align: center;
}

td.rank{
    color:black;
    text-align: center;
}

#table_container{
    width:60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
